<ul class="actionBar row">
    <li><a href="/reservation/date"><i class="fa-solid fa-calendar-days"></i><span>Date & Heure</span></a></li>
    <li><a href="/reservation/menus"><i class="fa-solid fa-user"></i><span>Menus</span></a></li>
    <li><a href="/reservation/options"><i class="fa-solid fa-ellipsis"></i><span>Options</span></a></li>
    <li><a href="/reservation/confirmation"><i class="fa-solid fa-check"></i><span>Confirmation et paiement</span></a></li>
</ul>