<h2>Réservez une table</h2>
<div class="calendar-container">
  <div class="calendar">
    <div class="month">
      <i class="fas fa-angle-left previous"></i>
      <div class="date">
        <h1></h1>
        <p></p>
      </div>
      <i class="fas fa-angle-right next"></i>
    </div>
    <div class="weekdays">
      <div>Di</div>
      <div>Lu</div>
      <div>Ma</div>
      <div>Me</div>
      <div>Je</div>
      <div>Ve</div>
      <div>Sa</div>
    </div>
    <div class="days">

    </div>
  </div>
</div>
