<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/calendar.css">
    <link rel="stylesheet" href="/css/service.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="flex-container wrapper">
       
        <aside class="sidebar">
          <div class="logo"><img src="img/logo.png" alt="logo" /></div>
          <div class="map">
            <i class="fa-solid fa-location-dot"></i>
            <div class="map-text">
              <span>ARC DE TRIOMPHE</span>
              <a
                href="https://www.google.com/maps/place/Bustronome+-+Paris/@48.872752,2.294031,15z/data=!4m5!3m4!1s0x0:0x2b80095c2d0654ca!8m2!3d48.872752!4d2.294031"
                >Angle Avenue Kleber</a
              >
            </div>
          </div>
          <div class="menu" id="toggle-button">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
          </div>
          <ul class="nav-list" id="navigation-list">
            <li class="list-item"><a href="/reservation">Réservez maintenant</a></li>
            <li class="list-item"><a href="#">Carte cadeau</a></li>
            <li class="list-item"><a href="#">Les offres</a></li>
            <li class="list-item"><a href="#">Le concept</a></li>
            <li class="list-item"><a href="#">Privatisation</a></li>
            <li class="list-item"><a href="#">Actualité du bus</a></li>
            <li class="list-item"><a href="#">Le blog</a></li>
            <li class="list-item"><a href="#">Photos et vidéos</a></li>
            <li class="list-item"><a href="#">Questions fréquentes</a></li>
            <li class="list-item">
              <a href="#">Contactez le Bustronome Paris</a>
            </li>
          </ul>
        </aside>