<h2>Services possibles</h2>
<table class="servicesTable">
  <tbody>
    <tr>
      <th></th>
      <th>Horaire</th>
      <th>Lieu</th>
      <th></th>
    </tr>
    <tr class="service firstService">
      <td rowspan="3">Dejeuner</td>
      <td>12:15</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="/reservation/fr/site/chooseMenus?idEvent=14116">Choisir</a>
      </td>
    </tr>

    <tr class="service">
      <td>12:15</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="/reservation/fr/site/chooseMenus?idEvent=14481">Choisir</a>
      </td>
    </tr>

    <tr class="service">
      <td>12:45</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="/reservation/fr/site/chooseMenus?idEvent=14846">Choisir</a>
      </td>
    </tr>

    <tr class="service firstService">
      <td rowspan="4">Diner</td>
      <td>19:45</td>
      <td>Arc de Triomphe</td>
      <td><i>Non disponible</i></td>
    </tr>

    <tr class="service">
      <td>19:45</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="/reservation/fr/site/chooseMenus?idEvent=16304">Choisir</a>
      </td>
    </tr>

    <tr class="service">
      <td>19:45</td>
      <td>Arc de Triomphe</td>
      <td><i>Non disponible</i></td>
    </tr>

    <tr class="service">
      <td>20:45</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="/reservation/fr/site/chooseMenus?idEvent=15851">Choisir</a>
      </td>
    </tr>
  </tbody>
</table>
