<h2>Services possibles</h2>
<table class="servicesTable">
  <tbody>
    <tr>
      <th></th>
      <th>Horaire</th>
      <th>Lieu</th>
      <th></th>
    </tr>
    <tr class="service firstService">
      <td rowspan="3">Dejeuner</td>
      <td value="12:15">12:15</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="#">Choisir</a>
        
      </td>
    </tr>

    <tr class="service">
      <td value="12:15">12:15</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="#">Choisir</a>
      </td>
    </tr>

    <tr class="service">
      <td value="12:45">12:45</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="#">Choisir</a>
      </td>
    </tr>

    <tr class="service firstService">
      <td rowspan="4">Diner</td>
      <td value="19:45">19:45</td>
      <td>Arc de Triomphe</td>
      <td><i>Non disponible</i></td>
    </tr>

    <tr class="service">
      <td value="19:45">19:45</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="#">Choisir</a>
      </td>
    </tr>

    <tr class="service">
      <td value="19:45">19:45</td>
      <td>Arc de Triomphe</td>
      <td><i>Non disponible</i></td>
    </tr>

    <tr class="service">
      <td value="20:45">20:45</td>
      <td>Arc de Triomphe</td>
      <td>
        <a href="#">Choisir</a>
      </td>
    </tr>
  </tbody>
</table>
