<%- include("partials/header") -%>

<section class="contentReservation">
    <div class="actionContainer">
        <nav>
            <ul class="row">
                <li>Date & Heure</li>
                <li>Menus</li>
                <li>Options</li>
                <li>Confirmation et paiement</li>
            </ul>
            <h2>Réservez une table</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur dui non arcu malesuada consectetur. Sed laoreet lobortis volutpat. Aenean velit dui, laoreet sed pulvinar et, semper ullamcorper velit. Suspendisse posuere quam ut enim varius, et dapibus ipsum varius. Etiam quis tortor id purus sagittis pulvinar. Integer arcu mi, varius sed orci id, mattis suscipit tellus. Curabitur euismod diam in pharetra commodo. Proin mollis turpis in nulla suscipit euismod. Vestibulum tellus lectus, pretium viverra justo sed, commodo sollicitudin erat.</p>
            <h2>Services possibles</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur dui non arcu malesuada consectetur. Sed laoreet lobortis volutpat. Aenean velit dui, laoreet sed pulvinar et, semper ullamcorper velit. Suspendisse posuere quam ut enim varius, et dapibus ipsum varius. Etiam quis tortor id purus sagittis pulvinar. Integer arcu mi, varius sed orci id, mattis suscipit tellus. Curabitur euismod diam in pharetra commodo. Proin mollis turpis in nulla suscipit euismod. Vestibulum tellus lectus, pretium viverra justo sed, commodo sollicitudin erat.</p>
        </nav>
        

        </div>
    </div>
</section>

<%- include("partials/footer") -%>
