<%- include("partials/header") -%>

<section class="contentReservation">
    <div class="actionContainer">
        <nav>
            <%- include("partials/actionbar") -%>
            
            
        </nav>
        
        <%# 'step' is passed through string interpolation and page redirect towards the correct route%>
        <% const step = reservationStep %>
        <%- include(`partials/${step}`) -%>

        
        
        

        </div>
    </div>
</section>

<%- include("partials/footer") -%>
