.contentReservation {
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    color: white;
    width: 100%;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    margin: 20px 20px 0 20px;
    background-color: black;
}

.actionBar li {
    padding: 15px;
    font-size: 14px;;
}

.actionBar li:hover {
    background-color: #a09173;
}

.actionBar li:first-child {
    background-color: #a09173;
}

.actionBar i {
    padding: 0 5px;
}

@media screen and (max-width: 600px) {
    .actionBar span {
        display: none;
    }
}

